.app {
  width: 50vw;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #D5373E;
  padding: 1em;
}

.blue {
  padding: 50px;
  background: #001E93;
  padding: 1em;
  margin: .5em 0;
}

.green {
  background: #60C1B6;
  padding: 1em;
  margin-top: .5em;
}

button {
  font-size: calc(16px + 1vmin);
}
